.resultTable{

    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    margin-left: 0%;
    width: 50%
}