#table2 {
    border-radius: 10px;
    
}

.text-secondary {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;
}