.returnDiv {
    display: flex;
    margin-top: 40px;
    justify-content: center;
    margin-top: 35px;
}

#returnBack {
    background-color: salmon;
    color: white;
    border-radius: 15px;
    border: none;
}

td {
    padding: 10px;
    padding-left: 30px;
}