

.residenteHomeCont{
    background-color: #747E7E;
    height: 100%;
}

.residenteHomeContent{

    background-color: #747E7E;
    height: 100%;
}

.residenteHomeConteiner{
    background-color: #747E7E;
    height: 100%;
}



#btn-residente{
    background-color: #FF5F5D;
    height: 50px;
}